@model ArticleAllViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Article Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>  
            <h2><time datetime="@Model.PublicationDate">@Model.PublicationDate</time></h2>
            <h6><p>@Model.Content</p></h6>
            
            <br />
            <a asp-controller="Article" asp-action="Comment" asp-route-id="@Model.Id"
               class="btn btn-success">Comment</a>
            @if (!this.User.Identity?.IsAuthenticated ?? false)
            {
                <h2 class="text-center">You have to register in order to comment the articles!</h2>
            }
            @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
                <p></p>               
            }
        </div>
    </div>
</div>